html {
  background-color: rgb(252, 252, 252);
}
.App {
  text-align: center;
}
.pageHeader {
 color: rgb(174, 25, 54);
}
.sectionHeader {

}

.SignupBox {
  padding: 0.5em;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 70px 5px 0px 5px;
  height: 365px;
}
.LoginBox {
  padding: 0.5em;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 70px 5px 0px 5px;
  height: 365px;
}
.LogoutBox {
  background: red;
  padding: 0.5em;
}
.logoutButton {
  border: 1px solid white;
}
.logoutButton:hover {
  border: none;
}
.hamburgerHolder {
  position: relative;
  left: -10px;
}
.hamburger {
  height: 80px;
  width: 80px;
  position: relative;
  top: -15px;
  left: -5px;
}

.MuiAppBar {
  background-color: #ae1936;
}

.MuiToolbar-root-125 {
}

.card {
  border-radius: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.progress {
    margin: 0px;
}

.form {
    border-radius: 5px;
    padding: 20px;
}

.WelcomeMessage {
  font-weight: normal;
}

.UserName {
  flex: 3;
  float: left;
  width: auto;
}

.MenuTitle {
  flex: 10;
  letter-spacing: 3px;
}

.LogoutButton {
  flex: 1;
  float: right;
}

.CtsMain {
  margin-top: 80px;
}

.subLeft {
  display: inline-block;
  clear: both;
  margin: 10px 16px;
  font-weight: bold;
}

.middle {
  display: inline-block;
  clear: both;
  margin: 10px 10px;
  font-weight: bold;
}

.subRight {
  display: inline-block;
  clear: both;
  margin: 10px 16px;
  font-weight: bold;
}

.records {
  border: 1px solid black;
}

.expansionSummary {
  background-color: rgba(0, 0, 0, .1);
}

.expansionDetails {
  background-color: rgba(0, 0, 0, .01);
}

.MuiExpansionPanelSummary-content-272 {
  height: 100%;
  width: 100%;
}
.expansionHidden {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
  padding-right: 0px;
}
.compName { /*company name */
  font-size: 13px;
  font-weight: bold;
  position: relative;
  top: -10px;
  left: -15px;
}
.approvedImage {
  height: 20px;
  width: 20px;
  position: absolute;
  top: -5px;
  right: -15px;
}
.owner {
  color: grey;
  font-size: 11px;
  position: absolute;
  bottom: 50px;
  left: -15px;
  font-weight: bold;
}
.location {
  color: grey;
  font-size: 11px;
  position: absolute;
  bottom: 30px;
  left: -15px;
}
.saleType {
  color: grey;
  font-size: 11px;
  position: absolute;
  bottom: 15px;
  left: -15px;
}
.nextToDo {
  color: grey;
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  left: -15px;
}
.dollarAmount {
  color: green;
  font-size: 12px;
  /*font-weight: bold;*/
  position: absolute;
  bottom: -14px;
  right: -15px;

}
.opsCompName { /*company name */
  font-size: 13px;
  font-weight: bold;
  position: relative;
  top: -10px;
  left: -15px;
}
.opsApprovedImage {
  height: 20px;
  width: 20px;
  position: absolute;
  top: -5px;
  right: 10px;
}
.opsOwner {
  color: grey;
  font-size: 11px;
  position: absolute;
  bottom: 50px;
  left: -15px;
  font-weight: bold;
}
.opsLocation {
  color: grey;
  font-size: 11px;
  position: absolute;
  bottom: 30px;
  left: -15px;
}
.opsSaleType {
  color: grey;
  font-size: 10px;
  position: absolute;
  bottom: 15px;
  left: -15px;
}
.opsNextToDo {
  color: grey;
  font-size: 10px;
  position: absolute;
  bottom: 0px;
  left: -15px;
}
.opsDollarAmount {
  color: green;
  font-size: 12px;
  /*font-weight: bold;*/
  position: absolute;
  bottom: -22px;
  right: 15px;
  float: right;
  margin-bottom: 10px;
}
.break {
  display: none;
}
@media screen and (max-width: 1490px) {
  .opsApprovedImage {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    right: 15px;
  }
}
@media screen and (max-width: 1450px) {
  .opsApprovedImage {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    right: 20px;
  }
  .opsDollarAmount {
    color: green;
    font-size: 12px;
    position: absolute;
    bottom: -22px;
    right: 30px;
    float: right;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1400px) {
  .opsApprovedImage {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    right: 26px;
  }
}
@media screen and (max-width: 1279px) {
  .opsCompName { /*company name */
    font-size: 13px;
    font-weight: bold;
    position: relative;
    top: -10px;
    left: -15px;
  }
  .opsApprovedImage {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    right: -15px;
  }
  .opsOwner {
    color: grey;
    font-size: 11px;
    position: absolute;
    bottom: 55px;
    left: -15px;
  }
  .opsLocation {
    color: grey;
    font-size: 11px;
    position: absolute;
    bottom: 35px;
    left: -15px;
  }
  .opsSaleType {
    color: grey;
    font-size: 11px;
    position: absolute;
    bottom: 20px;
    left: -15px;
  }
  .opsNextToDo {
    color: grey;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    left: -15px;
  }
  .opsDollarAmount {
    color: green;
    font-size: 12px;
    /*font-weight: bold;*/
    position: absolute;
    bottom: -20px;
    right: -15px;
    float: right;
  }
  .break {
    display: block;
  }
} /*864*/
@media screen and (max-width: 959px) {
  .opsCompName { /*company name */
    font-size: 13px;
    font-weight: bold;
    position: relative;
    top: -10px;
    left: -15px;
  }
  .opsApprovedImage {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    right: -15px;
  }
  .opsOwner {
    color: grey;
    font-size: 11px;
    position: absolute;
    bottom: 50px;
    left: -15px;
  }
  .opsLocation {
    color: grey;
    font-size: 11px;
    position: absolute;
    bottom: 30px;
    left: -15px;
  }
  .opsSaleType {
    color: grey;
    font-size: 11px;
    position: absolute;
    bottom: 15px;
    left: -15px;
  }
  .opsNextToDo {
    color: grey;
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    left: -15px;
  }
  .opsDollarAmount {
    color: green;
    font-size: 12px;
    /*font-weight: bold;*/
    position: absolute;
    bottom: -20px;
    right: -15px;
  }
  .break {
    display: none;
  }
  .UserName {
    display: none;
  }
}

.toDoTitle {
  font-weight: bold;
  font-size: 13px;
}
.toDoDue {
  font-size: 10px;
  font-style: italic;
  text-align: left;
}
.toDoContent {
  font-size: 11px;
  text-align: left;
  margin-bottom: 0px;
}

/*First Table in MyManagement.js*/
.effChartHolder {
  font-size: 8px;
}
.stageHistory {
  border: 1px solid black;
}
.tableRowStage {
  margin: 0 auto;
  margin-bottom: -30px;
  /*margin-top: -30px;*/
  padding: 0px 0px;
}
.tableCellStage {
  padding: 0px 0px;
}
.tableTitle {
  color: rgb(174, 25, 54);
  font-family: inherit;
  float: left;
  margin: 5px 0px 10px 10px;
  font-size: 28px;
  font-weight: bold;
}
.getDifference {
  padding: 0px 0px;
  width: 120%;
}

/*Dual Charts in MyManagemnt.js*/
text {
  font-size: 13px;
}
.tabLabel {
  color: rgba(0, 0, 0, 0.87);
}
.summaryChart {
  height: 486.997;
  min-width: 375px;
}
@media screen and (max-width: 1200px) {
  .summaryChart {
    height: 486.997px;
  }
}
@media screen and (max-width: 960px) {
  .summaryChart {
    height: 400px;
    min-width: 0px;
  }
}
/*MetaData.js in MyManagement.js*/
.metaHolder {
  margin: 0 auto;
}
.container {
  margin: 0 auto;
}
.metaCard {
  height: 90px;
  width: 213px;
  margin-top: 0 auto;
  /*margin: 0 auto;*/
  /*display: block;*/
}
.iconImage {
  height: 60px;
  width: 60px;
  display: inline;
  position: relative;
  top: -15px;
  border-radius: 100%;
  /*left: -80px;*/
  float: left;
}
.metaTitle {
  position: relative;
  top: -15px;
  float: right;
  right: 10px;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 21px;
  color: white;
}
.metaAmount {
  position: relative;
  /*float: right;*/
  /*right: 10px;*/
  margin-top: 6px;
  letter-spacing: 2px;
  font-size: 16px;
  color: rgb(173, 173, 173);
}
@media screen and (max-width: 1200px) {
  .metaCard {
    height: 90px;
    width: 213px;
    /*margin: 0 auto;*/
    /*display: block;*/
  }
  .metaTitle {
    max-width: 110px;
  }
  .metaAmount {
    margin-top: 6px;
  }
}
@media screen and (max-width: 960px) {
  .metaTitle {
    max-width: none;
  }
  .metaAmount {
    margin-top: 6px;
  }
}
@media screen and (max-width: 566px) {
  .metaTitle {
    max-width: 110px;
  }
  .metaAmount {
    margin-top: 6px;
  }
}

/*Map*/
.mapContainer {
  /*position: relative;*/
  /*top: -320px;*/
  margin-top: -333px;
  left: 0px;
  /*height: 320px;*/
  width: 100%;
}
.map {
  position: relative;
  top: 0px;
  height: 320px;
  width: 100%;
}
.canvas {
  pointer-events: none;
  height: 320px;
  width: 100%;
  background: linear-gradient(to right, rgba(252, 252, 252, 1) 0%, transparent 5%, transparent 10%, transparent 20%,
    transparent 30%, transparent 40%, transparent 50%, transparent 60%, transparent 70%,
    transparent 80%, transparent 90%, transparent 95%, transparent 97%,
    rgba(252, 252, 252, 1) 100%),
    linear-gradient(to bottom, rgba(252, 252, 252, 1) 0%, transparent 5%, transparent 10%, transparent 20%,
      transparent 30%, transparent 40%, transparent 50%, transparent 60%, transparent 70%,
      transparent 80%, transparent 90%, transparent 95%, transparent 97%,
      rgba(252, 252, 252, 1) 100%);
  position: relative;
  top: 323px;
  left: 0px;
  z-index: 10000;
}
@media screen and (max-width: 960px) { /*863*/
  .mapContainer {
    margin-top: -408px;
    margin-bottom: -13px;
  }
  .map {
    height: 395px;
    width: 100%;
  }
  .canvas {
    top: 400px;
    height: 400px;
    width: 100%;
  }
}
.radar {
  margin: 0 auto;
}
.pie {
  margin: 0 auto;
}

/*Last Chart in MyManagement.js*/
.MyMgtCompareCard {
  background-color: rgb(163, 163, 163);
  padding: 8px 8px;
}

/*INDIVIDUAL COMPANY DATA PAGE*/
.individCoWrapper {
  margin-left: 10px;
  margin-right: 10px;
}
.individCoData {
  min-height: 100px;
  margin: 0px 0px 5px 0px;
  min-height: 0px;
}
.individCoMap {
  min-height: 400px;
}
.individCoNotes {
  min-height: 100px;
}
.individCoStageHistory {

}
/*.individCompletedStages {
  border: 2px solid rgb(20, 140, 52);
  background-color: rgba(20, 140, 52, .3);
  border-radius: 5px;
}
.individCurrentStage {
  border: 2px solid rgb(0, 84, 22);
  background-color: rgba(20, 140, 52, .7);
  border-radius: 5px;
}
.individIncompleteStages {
  border: 2px solid grey;
  background-color: lightgrey;
  border-radius: 5px;
}*/
.individCoMainData {
  margin: 0px 0px 5px 0px;
  min-height: 0px;
  font-weight: bold;
}
.individContactTable {
  border-bottom-color: transparent;
}
.individCoSubData {
  padding: 0px 5px;
}
.individCoStageData {

}
.individCoContactInfo {
  min-height: 100px;
}
.individContactName {
  margin: 0px 0px 0px 0px;
  width: 100%;
  text-align: left;
}
.titleName {
  font-size: 20px;
}
.individContactTitle {
  margin-top: 3px;
  font-size: 18px;
  color: rgb(192, 192, 192);
}
.individCoToDoContent {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0px;
}
.individCoToDoTitle {
  /*font-weight: bold;*/
  text-align: left;
  margin-left: 0px;
  font-size: 15px;
}
.individCoToDoDue {
  font-size: 12px;
  font-style: italic;
  text-align: left;
}
.individCoNotesContainer {
  margin-left: -35px;
}
.individCoStageHistoryContact {
  position: relative;
}
.individCoStageHistoryToDo {

}
.individCoStageHistoryContHist {

}
.vertAlignWrapper {
  text-align: center;
}
.verticalAlign {
  /*transform: rotate(270deg);*/
  color: rgb(174, 25, 54);
  font-size: 25px;
  margin: 0px;
  margin-top: 75px;
  padding: 0px;
}
.IndividCoVerticalAlignContacts {
  transform: rotate(270deg);
  color: rgb(174, 25, 54);
  font-size: 25px;
  margin: 0px;
  margin-top: 90px;
  padding: 0px;
  z-index: 1000000000000;
}
.IndividCoVerticalAlignToDo {
  transform: rotate(270deg);
  color: rgb(174, 25, 54);
  font-size: 25px;
  white-space: nowrap;
  margin: 0px;
  padding: 5px 0px 5px 0px;
  margin-top: 60px;
  padding: 0px;
  display: relative;
  top: 0px;
  left: 0px;
  z-index: 1000000000000;
}
.IndividCoVerticalAlignHistory {
  transform: rotate(270deg);
  color: rgb(174, 25, 54);
  font-size: 25px;
  margin: 0px;
  margin-top: 85px;
  padding: 0px;
  display: relative;
  top: 0px;
  left: 0px;
}
.IndividCoVerticalAlignNotes {
  transform: rotate(270deg);
  color: rgb(174, 25, 54);
  font-size: 25px;
  margin: 0px;
  margin-top: 40px;
  padding: 0px 0px 12px 0px;
  display: relative;
  top: 0px;
  left: 0px;
  z-index: 1000000000000;
}

.mainGrid {
  margin: 0px 5px;
}

.bold {
  font-weight: bold;
}
