html {
  background-color: rgb(252, 252, 252);
}
.App {
  text-align: center;
}
.pageHeader {
 color: rgb(174, 25, 54);
}
.sectionHeader {

}

.SignupBox {
  padding: 0.5em;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 70px 5px 0px 5px;
  height: 365px;
}
.LoginBox {
  padding: 0.5em;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 70px 5px 0px 5px;
  height: 365px;
}
.LogoutBox {
  background: red;
  padding: 0.5em;
}
.logoutButton {
  border: 1px solid white;
}
.logoutButton:hover {
  border: none;
}
.hamburgerHolder {
  position: relative;
  left: -10px;
}
.hamburger {
  height: 80px;
  width: 80px;
  position: relative;
  top: -15px;
  left: -5px;
}

.MuiAppBar {
  background-color: #ae1936;
}

.card {
  border-radius: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.progress {
    margin: 0px;
}

.form {
    border-radius: 5px;
    padding: 20px;
}

.WelcomeMessage {
  font-weight: normal;
}

.UserName {
  flex: 3;
  float: left;
  width: auto;
}

.MenuTitle {
  flex: 10;
  letter-spacing: 3px;
}

.LogoutButton {
  flex: 1;
  float: right;
}

.CtsMain {
  margin-top: 80px;
}

.subLeft {
  display: inline-block;
  clear: both;
  margin: 10px 16px;
  font-weight: bold;
}

.middle {
  display: inline-block;
  clear: both;
  margin: 10px 10px;
  font-weight: bold;
}

.subRight {
  display: inline-block;
  clear: both;
  margin: 10px 16px;
  font-weight: bold;
}

.records {
  border: 1px solid black;
}

.expansionSummary {
  background-color: rgba(0, 0, 0, .1);
}

.expansionDetails {
  background-color: rgba(0, 0, 0, .01);
}

.MuiExpansionPanelSummary-content-272 {
  height: 100%;
  width: 100%;
}
.expansionHidden {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
  padding-right: 0px;
}
.compName { /*company name */
  font-size: 13px;
  font-weight: bold;
  position: relative;
  top: -10px;
  left: -15px;
}
.approvedImage {
  height: 20px;
  width: 20px;
  position: absolute;
  top: -5px;
  right: -15px;
}
.owner {
  color: grey;
  font-size: 11px;
  position: absolute;
  bottom: 50px;
  left: -15px;
  font-weight: bold;
}
.location {
  color: grey;
  font-size: 11px;
  position: absolute;
  bottom: 30px;
  left: -15px;
}
.saleType {
  color: grey;
  font-size: 11px;
  position: absolute;
  bottom: 15px;
  left: -15px;
}
.nextToDo {
  color: grey;
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  left: -15px;
}
.dollarAmount {
  color: green;
  font-size: 12px;
  /*font-weight: bold;*/
  position: absolute;
  bottom: -14px;
  right: -15px;

}
.opsCompName { /*company name */
  font-size: 13px;
  font-weight: bold;
  position: relative;
  top: -10px;
  left: -15px;
}
.opsApprovedImage {
  height: 20px;
  width: 20px;
  position: absolute;
  top: -5px;
  right: 10px;
}
.opsOwner {
  color: grey;
  font-size: 11px;
  position: absolute;
  bottom: 50px;
  left: -15px;
  font-weight: bold;
}
.opsLocation {
  color: grey;
  font-size: 11px;
  position: absolute;
  bottom: 30px;
  left: -15px;
}
.opsSaleType {
  color: grey;
  font-size: 10px;
  position: absolute;
  bottom: 15px;
  left: -15px;
}
.opsNextToDo {
  color: grey;
  font-size: 10px;
  position: absolute;
  bottom: 0px;
  left: -15px;
}
.opsDollarAmount {
  color: green;
  font-size: 12px;
  /*font-weight: bold;*/
  position: absolute;
  bottom: -22px;
  right: 15px;
  float: right;
  margin-bottom: 10px;
}
.break {
  display: none;
}
@media screen and (max-width: 1490px) {
  .opsApprovedImage {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    right: 15px;
  }
}
@media screen and (max-width: 1450px) {
  .opsApprovedImage {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    right: 20px;
  }
  .opsDollarAmount {
    color: green;
    font-size: 12px;
    position: absolute;
    bottom: -22px;
    right: 30px;
    float: right;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1400px) {
  .opsApprovedImage {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    right: 26px;
  }
}
@media screen and (max-width: 1279px) {
  .opsCompName { /*company name */
    font-size: 13px;
    font-weight: bold;
    position: relative;
    top: -10px;
    left: -15px;
  }
  .opsApprovedImage {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    right: -15px;
  }
  .opsOwner {
    color: grey;
    font-size: 11px;
    position: absolute;
    bottom: 55px;
    left: -15px;
  }
  .opsLocation {
    color: grey;
    font-size: 11px;
    position: absolute;
    bottom: 35px;
    left: -15px;
  }
  .opsSaleType {
    color: grey;
    font-size: 11px;
    position: absolute;
    bottom: 20px;
    left: -15px;
  }
  .opsNextToDo {
    color: grey;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    left: -15px;
  }
  .opsDollarAmount {
    color: green;
    font-size: 12px;
    /*font-weight: bold;*/
    position: absolute;
    bottom: -20px;
    right: -15px;
    float: right;
  }
  .break {
    display: block;
  }
} /*864*/
@media screen and (max-width: 959px) {
  .opsCompName { /*company name */
    font-size: 13px;
    font-weight: bold;
    position: relative;
    top: -10px;
    left: -15px;
  }
  .opsApprovedImage {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    right: -15px;
  }
  .opsOwner {
    color: grey;
    font-size: 11px;
    position: absolute;
    bottom: 50px;
    left: -15px;
  }
  .opsLocation {
    color: grey;
    font-size: 11px;
    position: absolute;
    bottom: 30px;
    left: -15px;
  }
  .opsSaleType {
    color: grey;
    font-size: 11px;
    position: absolute;
    bottom: 15px;
    left: -15px;
  }
  .opsNextToDo {
    color: grey;
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    left: -15px;
  }
  .opsDollarAmount {
    color: green;
    font-size: 12px;
    /*font-weight: bold;*/
    position: absolute;
    bottom: -20px;
    right: -15px;
  }
  .break {
    display: none;
  }
  .UserName {
    display: none;
  }
}

.toDoTitle {
  font-weight: bold;
  font-size: 13px;
}
.toDoDue {
  font-size: 10px;
  font-style: italic;
  text-align: left;
}
.toDoContent {
  font-size: 11px;
  text-align: left;
  margin-bottom: 0px;
}

.stageHistory {
  border: 1px solid black;
}
.tableRowStage {
  margin: 0 auto;
  margin-bottom: -30px;
  /*margin-top: -30px;*/
  padding: 0px 0px;
}
.tableCellStage {
  padding: 0px 0px;
}
.tableTitle {
  color: rgb(174, 25, 54);
  font-family: inherit;
  float: left;
  margin: 5px 0px 10px 10px;
  font-size: 28px;
  font-weight: bold;
}
.getDifference {
  padding: 0px 0px;
  width: 120%;
}

text {
  font-size: 13px;
}

.tabLabel {
  color: rgba(0, 0, 0, 0.87);
}

.mgtchart {

}
.mgtcompare {

}
.MyMgtCompareCard {
  background-color: rgb(163, 163, 163);
  padding: 8px 8px;
}
.mgteff {

}
.mgtlist {
  background-color: blue;
}
.mgtother {
  background-color: grey;
}

.radar {
  margin: 0 auto;
}
.pie {
  margin: 0 auto;
}

.mainGrid {
  margin: 0px 5px;
}

.bold {
  font-weight: bold;
}
