.App {
  text-align: center;
}

.SignupBox {
  padding: 0.5em;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 70px 5px 0px 5px;
  height: 365px;
}

.LoginBox {
  padding: 0.5em;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 70px 5px 0px 5px;
  height: 365px;
}

.LogoutBox {
  background: red;
  padding: 0.5em;
}

.MuiAppBar {
  background-color: #ae1936;
}

.card {
  border-radius: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.progress {
    margin: 0px;
}

.form {
    border-radius: 5px;
    padding: 20px;
}

.WelcomeMessage {
  font-weight: normal;
}

.UserName {
  flex: 3;
  float: left;
  width: auto;
}

.MenuTitle {
  flex: 10;
}

.LogoutButton {
  flex: 1;
  float: right;
}

.CtsMain {
  margin-top: 80px;
}

.subLeft {
  display: inline-block;
  clear: both;
  margin: 10px 16px;
  font-weight: bold;
}

.middle {
  display: inline-block;
  clear: both;
  margin: 10px 10px;
  font-weight: bold;
}

.subRight {
  display: inline-block;
  clear: both;
  margin: 10px 16px;
  font-weight: bold;
}

.records {
  border: 1px solid black;
}

.expansionSummary {
  background-color: rgba(0, 0, 0, .1);
}

.expansionDetails {
  background-color: rgba(0, 0, 0, .01);
}

.mainGrid {
  margin: 0px 5px;
}

.bold {
  font-weight: bold;
}
